{% extends "base.html" %}

{% block content %}
<div class="m-3">
    <div class="row">
        <div class="col" style="display: grid; height: 100%;">
            <img src="{{ imageurl }}" style=" max-width: 100%; max-height: 100vh; margin: auto;" />
        </div>
        <div class="col-4">
            <h1> {{ itemname }} </h1>
            <h4> Price: ${{ price }} </h4>
            {% if qty <= 0 %}
                <h5><em> Out of Stock </em></h5>
            {% else %}
                <h5> In Stock: {{ qty }} </h5>
            {% endif %}
            <h5> Description </h5>
            <p> {{ description }} </p>
        </div>
        <div class="col">
            {% block item_action %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}